.wrapper {
  flex-direction: column;
  display: flex;
}

.title {
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
}

.input {
  border-bottom: 2px solid var(--c-silver);
  transition: border-color var(--t-normal);
  background-color: var(--c-silver);
  color: var(--c-black);
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  height: 40px;
}

.input:focus {
  border-color: var(--c-blue);
}

.error:focus {
  border-color: var(--c-red);
}

.errorText {
  color: var(--c-red);
  padding-top: 5px;
  font-size: 14px;
  line-height: 1;
  height: 20px;
}
