.wrapper {
  flex-direction: column;
  display: flex;
}

.title {
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
}

.input {
  background-color: var(--c-silver);
  color: var(--c-black);
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  height: 40px;
}
