/* * Base */
.coursesBanner {
  background-color: var(--c-blue-dark);
  justify-content: center;
  color: var(--c-white);
  padding-bottom: 5vh;
  align-items: center;
  padding-top: 140px;
  display: flex;
  height: 100vh;
}

.wrapper {
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
  display: grid;
  gap: 50px;
}

/* * Main */
.main {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.title {
  font-family: var(--f-logo);
  margin-bottom: 5vh;
  text-align: center;
}

.image {
  margin-bottom: 5vh;
}
