.header {
  transition: var(--t-normal);
  position: fixed;
  z-index: 300;
  right: 0;
  left: 0;
  top: 0;
}

.open {
  box-shadow: 0 0 8px 0 var(--c-blue-dark);
  background-color: var(--c-white);
}

.white {
  background-color: var(--c-white);
}

.wrapper {
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.logo {
  position: relative;
  z-index: 901;
}
