.course {
  border: 2px solid var(--c-white);
  background-color: var(--c-white);
  color: var(--c-blue);
  border-radius: 20px;
  text-align: center;
  cursor: default;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
}

.description {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 14px;
}

.image {
  max-width: 60%;
}

.button {
  margin: 0 auto;
}
